/* background.css */
.bg {
    background: url('../images/main-page/japan-retro-1.jpg') center center;
    background-size: cover;
    background-attachment: fixed;
    height: 650px;
}
/* End background.css */
